@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown">
        <a class="nav-link text-light" style="font-size: 32px;" href="#" id="accountDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="far fa-user-circle"></i>
        </a>
        <div class="dropdown-menu bg-primary" style="right: 0; left:auto;">
            <a class="dropdown-item text-light" style="font-size: 16px;" asp-area="Identity" asp-page="/Account/Manage/Index"><i class="far fa-user-circle"></i> &nbsp; Profil</a>
            <hr style="border-top: 1px solid white"/>
            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "Guest" })" method="post">
                <button class="dropdown-item text-light" >Odjavi se</button>
            </form>          
        </div>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
